<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<script th:src="@{/list.js}" defer></script>
	<title th:text="${title}">タイトル</title>
</head>

<body>
	<div class="mainContainer" style="margin: 10px 0 20px 10px;">

		<a th:href="@{/quizbook/play}">一問一答モード</a><br>
		<a th:href="@{/quizbook/twenty-test}">20問連続モード</a><br>
		<a th:href="@{/quizbook/test}">模擬試験モード</a><br>
		<form th:action="@{/quizbook/back}" method="post">
			<button type="submit">ホームへ戻る</button>
		</form>
		<hr>

		<p th:if="${#lists.isEmpty(list)}">登録されているクイズはありません</p>
		<table border="1" th:unless="${#lists.isEmpty(list)}" style="table-layout: fixed;">
			<tr style="background-color: aqua;">
				<th>ID</th>
				<th>問題</th>
				<th>コード</th>
				<th>確認</th>
				<th>編集</th>
				<th>削除</th>
			</tr>
			<tr th:each="obj,state:${list}" align="center">
				<td th:text="${state.index+1}"></td>
				<td th:text="${obj.question}" align="left" class="question"></td>
				<td th:text="${obj.code}" align="left" class="code"></td>
				
				<!--/*確認ボタン*/-->
				<td>
					<form method="post" th:action="@{/quizbook/confirm-page}">
						<input type="hidden" name="listId" th:value="${state.index+1}">
						<input type="hidden" name="id" th:value="${obj.id}">
						<input type="submit" value="内容確認">
					</form>
				</td>

				<!--/*編集ボタン*/-->
				<td>
					<form method="post" th:action="@{/quizbook/update-page}">
						<input type="hidden" name="listId" th:value="${state.index+1}">
						<input type="hidden" name="id" th:value="${obj.id}">
						<input type="submit" value="編集">
					</form>
				</td>
				<!--/*削除ボタン*/-->
				<td>
					<form method="get" th:action="@{/quizbook/delete}">
						<input type="hidden" name="id" th:value="${obj.id}">
						<button type="button" onclick="if(confirm('選択した問題を削除しますか？'))
																{this.form.submit();}">削除</button>
					</form>
				</td>
			</tr>
		</table>

	</div>
</body>

</html>