<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>一問一答モード</title>
</head>
<body>
	<h1 th:text="${title}" align="center">タイトル</h1><hr>
	
	<div th:object="${entity}">
		
		<div th:text="*{question}"></div>
		<pre th:text="*{code}"></pre>
		<div th:each="option,state:*{options}">
			<span th:text="|選択肢${state.index+1}：|"></span>
			<button  type="button" th:text="${option.optionText}" class="optionButton" style="width: 400px;margin:10px"></button>
			
				
		</div>
		
		
	</div>

</body>
</html>