<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<script th:src="@{/js/option.js}" defer></script>
	<title th:text="${title}">タイトル</title>
</head>

<body>
	<div class="mainContainer" style="margin:0 0 10px 10px;">

		<div class="titleContainer" style="display: flex;">
			<h3 th:text="${title}">タイトル</h3>
			<h3 th:if="${listId != null}" th:text="'List No.'+${listId}"></h3>

		</div>

		<!--/* ▼▼▼Form▼▼▼ */-->
		<form method="post" th:action="${quizBookForm.newQuiz}? @{/quizbook/insert}:@{/quizbook/update}"
			th:object="${quizBookForm}">

			<label>問題文：</label><br>
			<textarea rows="5" cols="50" th:field="*{question}" placeholder="問題文を入力"></textarea>
			<br>
			<div th:if="${#fields.hasErrors('question')}" th:errors="*{question}" style="color: red;"></div>

			<label>コード：</label><br>
			<textarea rows="5" cols="50" th:field="*{code}" placeholder="コードを入力"></textarea>
			<br>
			<div th:if="${#fields.hasErrors('code')}" th:errors="*{code}" style="color: red;"></div>

			<div id="optionsContainer">
				<!-- 選択肢がここに追加されます -->
				<div th:if="*{newQuiz}==false" th:each="option,iterStat:*{options}" class="option"
					th:id="'option-'+${iterStat.index+1}">
					<span th:text="'選択肢 '+${iterStat.index+1}+':'"></span>
					<input type="hidden" th:value="${option.id}" th:name="'options[' + ${iterStat.index} + '].id'">
					<input type="text" th:value="${option.optionText}"
						th:name="'options[' + ${iterStat.index} + '].optionText'">
					<button type="button" class="preRemoveButton">削除</button>
					<input type="checkbox" th:checked="${option.isCorrect}" th:name="'options[' + ${iterStat.index} + '].correct'">
				</div>
			</div>

			<button type="button" id="addOptionButton">選択肢を追加</button>
			<button type="button" id="sortOptionButton">選択肢を昇順に整理</button>
			<br>
			<div th:if="${#fields.hasErrors('options')}" th:errors="*{options}" style="color: red;"></div>
			<label>解説：</label><br>
			<textarea rows="5" cols="50" th:field="*{explain}" placeholder="解説を入力"></textarea>
			<br>
			<div th:if="${#fields.hasErrors('explain')}" th:errors="*{explain}" style="color: red;"></div>
			<input th:if="${quizBookForm.id}" type="hidden" th:field="*{id}">
			<input th:if="${listId != null}" type="hidden" name="listId" th:value="${listId}">
			<input type="submit" th:value="${quizBookForm.newQuiz}?登録:更新">
		</form>
		<form th:action="@{/quizbook/back}" method="post" style="padding-top: 10px">
			<button type="submit">ホームに戻る</button>
		</form>
	</div>

</body>

</html>